<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <meta charset="UTF-8">
  <title>勤怠情報変更｜LMS</title>
 <style>
    .table-scroll-wrapper {
      max-height: calc(10 * 3rem);
      overflow-y: auto;
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>
  <th:block th:if="${session.loginUserDto.role == '0001'}">
    <h2>勤怠管理一覧</h2>
  </th:block>
  <th:block th:if="${session.loginUserDto.role != '0001'}">
    <h2>勤怠管理 <small>( [[${attendanceForm.userName}]] )</small></h2>
    <th:block th:if="${session.loginUserDto.leaveFlg == '1'}">
      <h2><small>途中退校日：${dispLeaveDate}</small></h2>
    </th:block>
  </th:block>

  <div class="row">
    <div class="bs-component col-sm-12">
      <form th:action="@{/attendance/update}" method="post" th:object="${attendanceForm}">
        <div class="table-scroll-wrapper">
          <table class="table table-hover dataTable no-footer">
            <thead>
              <tr>
                <th class="w140">日付</th>
                <th class="w300">コース内容</th>
                <th class="w70">出勤</th>
                <th class="w70">退勤</th>
                <th class="w80">中抜け時間</th>
                <th class="w70">ステータス</th>
                <th class="w240">備考</th>
              </tr>
            </thead>
           <tbody>
  <tr th:each="attendance, stat : *{attendanceList}">
   <th:block>
    <input type="hidden" th:field="*{attendanceList[__${stat.index}__].isToday}" />
    <input type="hidden" th:field="*{attendanceList[__${stat.index}__].studentAttendanceId}" />
    <input type="hidden" th:field="*{attendanceList[__${stat.index}__].trainingDate}" />
    <input type="hidden" th:field="*{attendanceList[__${stat.index}__].dispTrainingDate}" />
    <input type="hidden" th:field="*{attendanceList[__${stat.index}__].sectionName}" />
    <input type="hidden" th:field="*{attendanceList[__${stat.index}__].statusDispName}" />
　</th:block>

    <td class="w140">[[${attendance.dispTrainingDate}]]</td>
    <td class="w300">[[${attendance.sectionName}]]</td>
    <td class="w70">
      <input type="text" th:field="*{attendanceList[__${stat.index}__].trainingStartTime}" class="form-control" />
    </td>
    <td class="w70">
      <input type="text" th:field="*{attendanceList[__${stat.index}__].trainingEndTime}" class="form-control" />
    </td>
    <td class="w80">
      <select th:field="*{attendanceList[__${stat.index}__].blankTime}" class="form-control">
        <option th:each="blankTime : ${attendanceForm.blankTimes}"
                th:value="${blankTime.key}"
                th:text="${blankTime.value}"
                th:selected="${blankTime.key == attendance.blankTime}">
        </option>
      </select>
    </td>
    <td class="w70">[[${attendance.statusDispName}]]</td>
    <td class="w240">
      <input type="text" th:field="*{attendanceList[__${stat.index}__].note}" class="form-control" />
    </td>
    <!--<td>
      <textarea th:field="*{attendanceList[__${stat.index}__].remarks}" class="form-control"></textarea>
    </td>-->
  </tr>
</tbody> 
          </table>
        </div>
        <div class="form-group">
          <th:block th:if="${session.loginUserDto.role == '0001'}">
            <a th:href="@{/attendance/detail}" class="btn btn-default">戻る</a>
          </th:block>
          <th:block th:if="${session.loginUserDto.role != '0001'}">
            <input type="submit" name="indexCompany" value="戻る" class="btn btn-default"/>
          </th:block>
          <input type="submit" name="complete" value="更新" class="btn btn-info"/>
        </div>
      </form>
    </div>
  </div>
</body>
</html>